@font-face {
	font-family: 'SylexiadSerifThin';
	src: url('SylexiadSerifThin.ttf') format('opentype'),
       url('SylexiadSerifThin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'SylexiadSerifThin-Italic';
	src: url('SylexiadSerifThin-Italic.ttf') format('opentype'),
       url('SylexiadSerifThin-Italic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'SylexiadSerifThin-Bold';
	src: url('SylexiadSerifThin-Bold.ttf') format('opentype'),
       url('SylexiadSerifThin-Bold.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'SylexiadSerifThin-BoldItalic';
	src: url('SylexiadSerifThin-BoldItalic.ttf') format('opentype'),
       url('SylexiadSerifThin-BoldItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

.sample-css-class {
  font-family: 'SylexiadSerifThin', Georgia, serif;
  font-weight: 100;
  font-style: normal;
}

.sample-css-class-for-an-italic {
  font-family: 'SylexiadSerifThin-Italic', Georgia, serif;
  font-weight: 100;
  font-style: italic;
}