@font-face {
	font-family: 'SylexiadSerifSpacedMed';
	src: url('SylexiadSerifSpacedMed.ttf') format('opentype'),
       url('SylexiadSerifSpacedMed.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SylexiadSerifSpacedMed-Italic';
	src: url('SylexiadSerifSpacedMed-Italic.ttf') format('opentype'),
       url('SylexiadSerifSpacedMed-Italic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'SylexiadSerifSpacedMed-Bold';
	src: url('SylexiadSerifSpacedMed-Bold.ttf') format('opentype'),
       url('SylexiadSerifSpacedMed-Bold.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SylexiadSerifSpacedMed-BItalic';
	src: url('SylexiadSerifSpacedMed-BItalic.ttf') format('opentype'),
       url('SylexiadSerifSpacedMed-BItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

.sample-css-class {
  font-family: 'SylexiadSerifSpacedMed', Georgia, serif;
  font-weight: 500;
  font-style: normal;
}

.sample-css-class-for-an-italic {
  font-family: 'SylexiadSerifSpacedMed-Italic', Georgia, serif;
  font-weight: 500;
  font-style: italic;
}